body {
	background-color: #00BFFF;
	font-family: helvetica;

}
.text {
	color: red;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

.row {
	color: white;

}

h1 {
	font-size: 30px;
	padding-top: 75px;
}

h2 {
	font-size: 55px;
	padding-top: 50px;
}

h3 {
	font-size: 75px;
	padding-top: 20px;
}

h4 {
	font-size: 190px;
}

h5 {
	font-size: 275px;
}